<!-- <ion-card > 
    <ion-card-header>
        
        <ion-card-title class="user_name" >{{ user.displayName || 'Guest User' }}</ion-card-title>
    <br />
    
    <img [src]="user.photoURL  || 'assets/icon/anon.svg'">
    </ion-card-header>

    <ion-card-content>
        Email: {{ user.email || 'unknown' }}
    </ion-card-content>
    <ion-button type="bar-button" href="/todo" color="dark" padding>
        Todo List
        <ion-icon slot="start" name="list"></ion-icon>
    </ion-button>

</ion-card> -->