<ion-slides pager="true">
    <ion-slide class="step-one">
        <ion-img src="/assets/slides/step1.svg"></ion-img>
        <h1>Keep tabs of balances</h1>
        <p>
            With a mobile and web application!
        </p>
        <ion-button color="dark" (click)="next()">Next</ion-button>
    </ion-slide>

    <ion-slide class="step-two">
        <ion-img src="/assets/slides/step2.svg"></ion-img>
        <h1>Watch the quick start video</h1>
        <p>The video will show you how to use the app and understand the features. </p>
        <ion-button color="dark" (click)="next()">Next</ion-button>
    </ion-slide>

    <ion-slide class="step-three">
        <ion-img src="/assets/slides/step3.svg"></ion-img>
        <h1>Create your own groups</h1>
        <p>
            Make it easy to keep tabs on group adventures. 
        </p>

        <ion-button (click)="finish()">Sounds Awesome!</ion-button>
    </ion-slide>
</ion-slides>