<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="newTitle">Currency Converter</ion-title>
        <ion-buttons slot="end" class="menuButton">
            <ion-menu-button autoHide></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-icon name="return-right" slot="start"></ion-icon>
        <ion-input [(ngModel)]= "amount" required type="number" placeholder="Insert amount"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary">Base Currency</ion-label>    
        <ion-select [(ngModel)]="fromCurrency" > 
            <ion-select-option *ngFor="let c of currencyData" [value] = "c" >{{c.text}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label color="primary">Target Currency</ion-label>
        <ion-select [(ngModel)]="currency"> 
            <ion-select-option *ngFor="let c of currencyData" [value] = "c">{{c.text}}</ion-select-option>
        </ion-select>
    </ion-item>
    
    <ion-item>
        <ion-icon name="return-right" slot="start"></ion-icon>
        <ion-input [(ngModel)]= "convertedAmount" required type="text" placeholder="Converted Value Here"></ion-input>
        <ion-label slot="end">{{currency.text}}</ion-label>
    </ion-item>

    <div padding text-center>
        <ion-button (click) = "convertCurrency(amount, fromCurrency.value, currency.value)">Convert</ion-button>
    </div>
</ion-content>