#circle-img {
    width:125px;
    height:125px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 20px;
}

ion-select {
    color: rgb(255, 255, 255);
}

ion-title {
    font-size: 150%;
}