#circle-img {
    width:100px;
    height:100px;
    background-color: #ffffff;
}

.leftButton {
    position: fixed;
    left: 1%;
}

#balance {
    position: fixed;
    right: 0%;
}

.newTitle {
    text-align: center;
}