<!-- <p>
  myfriends works!
</p> -->

<ion-searchbar [(ngModel)]="searchstring" (input)="searchuser($event)" placeholder="Search"></ion-searchbar>

<ion-list>
  <ion-item class="divider"*ngFor="let key of testUsers | async">
      <ion-grid style="width: 100%; height: 100%;">
          <ion-row justify-content-center align-items-center style="height: 100%;" >
              <ion-item >
                  <ion-avatar slot="start">
                      <img src="{{key.photoURL}}">
                  </ion-avatar>
                  <h4>{{key.displayName}}</h4>
                  <ion-button slot="end" color="danger" (click)="delete_friend(key)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
              </ion-item>
          </ion-row>
      </ion-grid>
  </ion-item>
</ion-list>
<!-- <ion-list>
  <ion-item class="friend" *ngFor="let key of testUsers | async;">
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start" item-left>
          <img src="{{key.photoURL}}">
        </ion-avatar>
        <h2>{{key.displayName}}</h2>
      </ion-item>
      <ion-item-options slide="left">
        <ion-button slot="end" color="danger" (click)="delete_friend(key)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-item>
</ion-list> -->

